{
  "presets": ["env", "react", "es2015", "stage-2"],
  "plugins": [
    [
      "transform-rename-import", 
      {
        "original": "^(.+?)\\.scss$",
        "replacement": "$1.css"
      }
    ]
  ]
}